.sidebar {
    width: 200px;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);




}

.menuItem {
    cursor: pointer;
    margin: 0px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;




}

.active {
    font-weight: bold;
    text-decoration: underline;
    background-color: lightgray;
}

.line {
    width: 98%;
}

.sidebarHead {
    text-align: center;

}