body {
    margin: 0px;
}

.approveBtn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s;

    &:hover {
        background-color: darkgreen;
    }
}

.rejectBtn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
        background-color: darkred;
    }
}

button {
    &:disabled {
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
    }
}

span {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
}